@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Source+Serif+Pro:400,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8em;

    &.dark {
        background-color: #222426;
        color: rgba(255,255,255,.8);

        strong,
        .sidenote,
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }

        code {
            background-color: rgba(0, 0, 0, .2);
        }

        h1::before,
        h2::before,
        h3::before,
        h4::before,
        h5::before,
        h6::before {
            color: rgba(255, 255, 255, .2);
        }

        ins {
            background-color: rgba(255, 255, 255, .1);
        }

        blockquote {
            color: rgba(255, 255, 255, .5);
            border-left: 5px solid rgba(255,255,255,.075);
        }

        table {
            border-color: #444;

            thead {
                background-color: rgba(255, 255, 255, .05);
            }

            td,
            th {
                border-right-color: #444;
            }

            td {
                border-top-color: #444;
            }
        }
    }
}

.stackedit__html {
    @media screen and (min-width: 900px) {
        padding-right: 300px;
    }

    max-width: 650px;
}

.stackedit__left {
    transition: background-color .3s ease;
    // background-color: #222;

    border-right: 1px solid #ccc;
    
    &:hover {
        background-color: #222;
    }

    // left: -100%;

    &.open {
        left: 0;
    }
}

.stackedit__toc {
    max-height: 100vh;
    line-height: 1.4em;

    ul {
        padding-bottom: 2em;
        font-weight: bold;
        color: rgba(255, 255, 255, .8);
        text-transform: uppercase;

        ul {
            padding-bottom: 1em;
            font-weight: normal;
            color: rgba(255, 255, 255, .5);
            text-transform: none;

            ul a {
                padding-left: 2em;
                color: rgba(255, 255, 255, .3);
            }
        }
    }
}

.sidenote {
    font-size: .8em;
    line-height: 1.4rem;

    @media screen and (min-width: 900px) {
        display: inline-block;
        float: right;
        clear: right;
        width: 200px;
        margin-right: -250px;
        margin-bottom: 1em;

        &.sidenote-small {
            display: none;
        }
    }

    @media screen and (max-width: 899px) {
        padding: 1em 2em;
        margin: 1em 0;

        &.sidenote-wide {
            display: none;
        }
    }

    .footnote-backref {
        margin-right: .5em;
    }

    p {
        margin-top: 0;
        display: inline;

        .footnote-backref {
            display: none;
        }
    }
}

::selection {
    color: white;
    background-color: #50E3C2;
}

a {
    color: #50E3C2;
}

sup a,
a.footnote-backref {
    text-decoration: none;
    font-weight: bold;
}

.sidenote {
    color: rgba(0,0,0,.4);
    transition: color .2s;

    &:hover,
    &.visible {
        color: black;
    }
}

a.footnote-backref {
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    text-align: center;

    &::after {
        display: none;
    }
}

h1, h2 {
    padding-top: 80px;
}

h3 {
    font-size: 1em;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    color: rgba(0,0,0,.2);
}

h1::before {
    content: '# ';
}

h2::before {
    content: '## ';
}

h3::before {
    content: '### ';
}

strong {
    font-weight: normal;
    // color: black;
    background-color: rgba(80, 227, 194, .15);
    padding: .25em;
}

cite {
    font-style: normal;
}

a[target="_blank"]::after {
    content: '\a0\2197';
    font-size: .8em;
}

a[id^="fnref"] {
    margin: 0 .25em;
}

abbr,
abbr[title] {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

ins {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .05);
    padding: 2em;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: -100vw;
    //     width: 100vw;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, .05);
    // }
    //
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: -100vw;
    //     width: 100vw;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, .05);
    // }

    img {
        margin-bottom: 0;
    }
}

img {
    display: block;
    margin: 1em auto;

    + em {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

blockquote {
    color: rgba(0, 0, 0, .5);
}

table {
    border: 1px solid #ccc;

    thead {
        background-color: rgba(0, 0, 0, .05);
    }

    td,
    th {
        border-right: 1px solid #ccc;
    }

    td {
        width: 50%;
        border-top: 1px solid #ccc;
    }
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    + p,
    + .sidenote + p {
        text-align: center;
        margin-bottom: 2em;
    }
}

iframe {
    width: 100%;
    border: none;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(0, 0, 0, .1);
}

.ctrl {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 100vh;
    color: black;
    // display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    // border-right: 1px solid #ccc;
    opacity: .3;
    transition: opacity .3s ease;


    &:hover {
        opacity: 1;
    }

    .lang {
        display: flex;
        flex-flow: column;

        span {
            cursor: pointer;
            font-size: .8em;
            font-weight: bold;
            margin: 0 .5em;
            opacity: .3;
            transition: opacity .3s ease;

            a {
                color: inherit;
                text-decoration: none;
            }

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }
}

@media print {
    body {
        background-color: white;
        color: rgba(0,0,0,.8);
    }

    .sidenote,
    strong {
        color: black;
    }

    .sidenote {
        background-color: rgba(0,0,0,.05);
        padding: 1em;
        opacity: 1;
        color: rgba(0,0,0,.5);

        strong {
            color: rgba(0,0,0,.7);
        }

        + .sidenote {
            padding-top: 0;
        }
    }

    .sidenote-wide {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: rgba(0,0,0,.8);

        &::before {
            color: rgba(0,0,0,.3);
        }
    }

    ins {
        background-color: rgba(80, 227, 194, .2);
    }


    blockquote {
        color: rgba(0,0,0,.5);
        border-left: 5px solid rgba(0,0,0,.1);
    }

}
