@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i|Source+Serif+Pro:400,700');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.8em;

    .header-wrap {
        width: 100%;
        height: 100vh;
        min-height: 700px;
        background: #2d2f31 url('../img/header.png') center center/cover no-repeat;

        .header {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);

            h1,
            h2,
            h3 {
                border-bottom: 0;
                margin: 0;
                padding: 0;
                color: white;

                &::before,
                &::after {
                    display: none;
                }
            }

            h1 {
                font-size: 6em;
                text-align: left;
                line-height: 1em;
                letter-spacing: .1em;
                margin-bottom: 4rem;
            }

            h2 {
                font-size: 1.6em;
                font-family: 'Source Sans Pro', sans-serif;
                color: #50E3C2;
                letter-spacing: .1em;
                margin-bottom: 4rem;
            }

            h3 {
                text-transform: none;
                font-size: 1.2em;
                line-height: 1.4em;
            }
            @media screen and (max-width: 1200px) {
                h1 {
                    font-size: 4em;
                    margin-bottom: 2rem;
                }

                h2 {
                    font-size: 1.4em;
                    margin-bottom: 2rem;
                }

                h3 {
                    font-size: 1em;
                }
            }
        }

    }

    .content {
        position: relative;
    }

    &.dark {
        background-color: #222426;
        color: rgba(255,255,255,.8);

        strong,
        h1, h2, h3, h4, h5, h6 {
            color: white;
        }

        .sidenote {
            color: rgba(255, 255, 255, .5);

            &:hover,
            &.active {
                color: white;
            }
        }

        strong {
            color: white;
            font-weight: bold;
            background-color: transparent;
        }

        code {
            background-color: rgba(0, 0, 0, .2);
        }

        h1::before,
        h2::before,
        h3::before,
        h4::before,
        h5::before,
        h6::before {
            color: rgba(255, 255, 255, .2);
        }

        ins {
            background-color: rgba(255, 255, 255, .1);
        }

        blockquote {
            color: rgba(255, 255, 255, .5);
            border-left: 5px solid rgba(255,255,255,.075);
        }

        table {
            border-color: #444;

            thead {
                background-color: rgba(255, 255, 255, .05);
            }

            td,
            th {
                border-right-color: #444;
            }

            td {
                border-top-color: #444;
            }
        }

        .ctrl {
            background-color: #222427;


            > div {
                &.clickable:hover {
                    background-color: rgba(0,0,0,.2);
                }

                [data-tool="mode"] {
                    background-image: url('../img/icon-light.png')
                }
            }
        }

        .stackedit__left {
            background-color: #2d2f31;
            border-right: 1px solid #444;

            .stackedit__toc {
                a:hover {
                    background-color: rgba(255,255,255,.05);
                }

                ul {
                    color: rgba(255, 255, 255, .8);

                    ul {
                        color: rgba(255, 255, 255, .6);

                        ul a {
                            color: rgba(255, 255, 255, .4);
                        }
                    }
                }
            }
        }
    }
}

.stackedit__html {
    @media screen and (min-width: 900px) {
        padding-right: 300px;
    }
    max-width: 650px;
}

.stackedit__left {
    display: block;
    background-color: #f6f6f6;
    border-right: 1px solid #ccc;
    left: 64px;
    transform: translate(-100%);
    transition: transform .8s cubic-bezier(0.8, 0, .2, 1);
    z-index: 1;

    &.open {
        transform: none;
    }

    @media screen and (max-width: 600px) {
        left: 0;
    }
}

@media screen and (min-width: 600px) {
    .stackedit__right {
        margin-left: 64px;
    }
}


.stackedit__toc {
    max-height: 100vh;
    line-height: 1.4em;

    a {
        line-height: 1.2em;

        &.active {
            color: #50E3C2;
            font-weight: bold;
        }
    }

    ul {
        padding-bottom: 2em;
        font-weight: bold;
        color: rgba(0, 0, 0, .7);
        text-transform: uppercase;

        ul {
            padding-bottom: 1em;
            font-weight: normal;
            color: rgba(0, 0, 0, .7);
            text-transform: none;

            a {
                padding: .4em 1em;
            }

            ul a {
                padding-left: 2em;
                color: rgba(0, 0, 0, .3);
            }
        }
    }
}

.sidenote {
    font-size: .8em;
    line-height: 1.4rem;

    @media screen and (min-width: 900px) {
        display: inline-block;
        float: right;
        clear: right;
        width: 200px;
        margin-right: -250px;
        margin-bottom: 1em;

        &.sidenote-small {
            display: none;
        }
    }

    @media screen and (max-width: 899px) {
        padding: 1em 2em;
        margin: 1em 0;

        &.sidenote-wide {
            display: none;
        }
    }

    .footnote-backref {
        margin-right: .5em;
    }

    p {
        margin-top: 0;
        display: inline;

        .footnote-backref {
            display: none;
        }
    }
}

::selection {
    color: white;
    background-color: #50E3C2;
}

a {
    color: #50E3C2;
}

sup a,
a.footnote-backref {
    text-decoration: none;
    font-weight: bold;
}

.sidenote {
    color: rgba(0,0,0,.4);
    transition: color .2s;

    &:hover,
    &.visible {
        color: black;
    }
}

a.footnote-backref {
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Code Pro', monospace;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    text-align: center;

    &::after {
        display: none;
    }
}

h1, h2 {
    padding-top: 4rem;
}

h3 {
    font-size: 1em;
    padding-top: 1rem;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    color: rgba(0,0,0,.2);
}

h1::before {
    content: '# ';
}

h2::before {
    content: '## ';
}

h3::before {
    content: '### ';
}

strong {
    font-weight: normal;
    // color: black;
    background-color: rgba(80, 227, 194, .15);
    padding: .25em;
}

cite {
    font-style: normal;
}

a[target="_blank"]::after {
    content: '\a0\2197';
    font-size: .8em;
}

a[id^="fnref"] {
    margin: 0 .25em;
}

abbr,
abbr[title] {
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

ins {
    position: relative;
    display: block;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .05);
    padding: 2em;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: -100vw;
    //     width: 100vw;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, .05);
    // }
    //
    // &::after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: -100vw;
    //     width: 100vw;
    //     height: 100%;
    //     background-color: rgba(0, 0, 0, .05);
    // }
}

img {
    display: block;
    margin: 1em auto;

    + em {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}

blockquote {
    color: rgba(0, 0, 0, .5);
}

table {
    border: 1px solid #ccc;

    thead {
        background-color: rgba(0, 0, 0, .05);
    }

    td,
    th {
        border-right: 1px solid #ccc;
    }

    td {
        width: 50%;
        border-top: 1px solid #ccc;
    }
}

video {
    display: block;
    max-width: 100%;
    margin: 0 auto;

    + p,
    + .sidenote + p {
        text-align: center;
        margin-bottom: 2em;
    }
}

iframe {
    width: 100%;
    border: none;
}

code {
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(0, 0, 0, .1);
}

.ctrl {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 64px;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(128,128,128,.2);
    background-color: white;
    font-size: 16px;
    line-height: 24px;
    transition: border-color .3s ease;

    &:hover {
        border-right: 1px solid rgba(128,128,128,.5);

        > div {
            opacity: 1;
        }
    }

    > div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 64px;
        user-select: none;
        opacity: .3;
        transition: opacity .3s ease;

        &:not(:last-child) {
            border-bottom: 1px solid rgba(128,128,128,.5);
        }


        &.clickable {
            cursor: pointer;

            &:hover {
                background-color: rgba(0,0,0,.05);
            }
        }

        background-size: 40px 40px;
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center center;

        &[data-tool="toc"] {
            background-image: url('../img/icon-toc.png')
        }

        &[data-tool="bigger"] {
            background-image: url('../img/icon-bigger.png')
        }

        &[data-tool="smaller"] {
            background-image: url('../img/icon-smaller.png')
        }

        &[data-tool="mode"] {
            background-image: url('../img/icon-dark.png')
        }

        &[data-tooltip] {
            &::after {
                content: attr(data-tooltip);
                position: absolute;
                top: 50%;
                left: 0;
                pointer-events: none;
                transform: translate(372px, -50%);
                padding: 4px 8px;
                background-color: #333;
                color: white;
                font-size: 14px;
                line-height: 14px;
                font-weight: bold;
                border-radius: 4px;
                margin-left: -300px;
                opacity: 0;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .spacer {
        flex: 1;
    }

    .mode {
        display: flex;
        flex-flow: column;

        div {
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 2px solid rgba(0,0,0,.2);
            margin: 8px;
            cursor: pointer;

            &[data-tool="light"] {
                background-color: white;
            }

            &[data-tool="dark"] {
                background-color: black;
            }
        }
    }

    .lang {
        display: flex;
        flex-flow: column;
        padding: 8px 0;

        span {
            cursor: pointer;
            font-weight: bold;
            opacity: .3;
            transition: opacity .3s ease;
            padding: 4px 0;

            a {
                color: inherit;
                text-decoration: none;
            }

            &:hover,
            &.active {
                opacity: 1;
            }
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        height: 64px;
        bottom: 0;
        top: auto;
        flex-flow: row;
        border-top: 1px solid rgba(128,128,128,.5);

        > div {
            opacity: 1;

            &:not(:last-child) {
                border-right: 1px solid rgba(128,128,128,.5);
                border-bottom: none;
            }

            &[data-tooltip]::after {
                display: none;
            }
        }

        .lang {
            flex-flow: row;

            span {
                padding: 0 8px;
            }
        }

        .spacer {
            display: none;
        }
    }
}

@media print {
    body {
        background-color: white;
        color: rgba(0,0,0,.8);
    }

    .sidenote,
    strong {
        color: black;
    }

    .sidenote {
        background-color: rgba(0,0,0,.05);
        padding: 1em;
        opacity: 1;
        color: rgba(0,0,0,.5);

        strong {
            color: rgba(0,0,0,.7);
        }

        + .sidenote {
            padding-top: 0;
        }
    }

    .sidenote-wide {
        display: none;
    }

    h1, h2, h3, h4, h5, h6 {
        color: rgba(0,0,0,.8);

        &::before {
            color: rgba(0,0,0,.3);
        }
    }

    ins {
        background-color: rgba(80, 227, 194, .2);
    }


    blockquote {
        color: rgba(0,0,0,.5);
        border-left: 5px solid rgba(0,0,0,.1);
    }

}
