.stackedit__html {
    padding-right: 260px;
}

.sidenote {
    display: inline-block;
    float: right;
    clear: right;
    width: 200px;
    margin-right: -260px;
    margin-top: -1em;

    .footnote-backref {
        margin-right: .5em;
    }

    p {
        margin-top: 0;
        display: inline;

        .footnote-backref {
            display: none;
        }
    }
}
